<!-- <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
    var toolbarOptions = [
    ['bold', 'italic','underline','strike'],
    ['blockquote', 'code-block']
    ];

    var quill = new Quill('#editor', {
        modules: {
            toolbar: toolbarOptions
        },
        theme:'snow'
    })
</script> -->
<div style="height: 50px"></div>
<div id="loginnavbar" style="width: 100%;box-shadow: lightgrey 0px 1px; position:fixed; height: 60px; z-index:999">
    <table id="table">
        <tr>
            <td>
                <table style="width: 700px"> 
                    <tr>
                         <td style="width: 50px">
                            <a href="../" style="color: rgb(83, 107, 243)">Home</a>
                        </td>
                        <td>
                            <a href="/main-forum" style="color: rgb(83, 107, 243)">Forum</a>
                        </td>
                    </tr>
                </table>
            </td>
            <td align="right" style="width: 700px">
                {{#if NotLogin}}
                <table> 
                    <tr>
                        <td style="width: 60px">
                            <form action="/login">
                            <input id="clicklog" type="submit" value="Log In" style="background-color: transparent; border: none; color: white">
                            </form>
                        </td>
                        <td>
                            <form action="/signup">
                            <input id="clicksignup" type="submit" value="Sign Up" style="background-color: transparent; border: none; color: white">
                            </form>
                        </td>
                    </tr>
                </table>
                {{/if}}
            </td>
        </tr>
    </table>          
</div>
<div style="margin-left:20%; margin-right:20%">
<div class=" " style="height: 130px"></div>
{{#if error}}
    <p>{{error}}</p>
{{/if}}
<form method="POST" action="/posts-new">
    <label for="add-post-title" style="font-size: 45px; font-weight:bold">Title:</label>
    &nbsp;
    &nbsp;
    <input style="font-size: 30px; height: 70px; width: 80%;border:none; background-color:transparent" type="text" name="title" value="" id="add-post-title">
    <hr>
    <!-- Include stylesheet -->
    <link href="https://cdn.quilljs.com/1.1.6/quill.snow.css" rel="stylesheet">


        <!-- Create the editor container -->
        <input type="hidden" name="content">
        <div id="editor" style="height:600px; background-color: white; overflow:auto"></div>
    </div>

    <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.1.6/quill.js"></script>

    <!-- Initialize Quill editor -->
    <script>
    var quill = new Quill('#editor', {
        theme: 'snow'
    });
    var form = document.querySelector('form');
    form.onsubmit = function() {
        // Populate hidden form on submit
        var content = document.querySelector('input[name=content]');
        content.value = JSON.stringify(quill.getContents());
        console.log("contentyeah", $(form).serialize())
    };
    </script>

    <input type="submit" value="Submit" class="submit-button" style="margin-left:72%; margin-top: 30px; background-color:rgb(83, 107, 243); color: white; height: 40px; width: 100px; border:none; border-radius:5px">
</form>