<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iCure</title>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body style="position: absolute; min-width: 1500px; overflow:scroll">
    <header id="header">
        <a class="navbar-brand" href="#"><img src="../public/img/logo.png" height="30px"/></a>
    </header>
    
        <div class=" " style="height: 40px">
    </div>
    
    <div class="container-fluid" style="background: black; padding-top: 50px; padding-bottom: 50px; padding-left: 250px">
        <h1 style="color:white; font-size: 25px">Time to Start</h1> 
        
    </div>

    <div class=" " style="height: 40px">
    </div>

    <div class="container-fluid" style="background: lightgrey; padding-top: 30px; padding-bottom: 50px; padding-left: 250px">
        <h1 style="color:black; font-size: 25px">Doctor Smith</h1> 
        
    </div>

    <div class=" " style="height: 40px">
    </div>

    <div class="container-fluid" style="background: lightgrey; padding-top: 30px; padding-bottom: 50px; padding-left: 250px">
        <h1 style="color:black; font-size: 25px">Cheif Complaint</h1> 
        
    </div>
<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://shanghai.nyu.edu/"> NYU Shanghai</a>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>