<div style="height: 50px"></div>
<div id="loginnavbar" style="width: 100%;box-shadow: lightgrey 0px 1px; position:fixed; height: 60px">
    <table id="table">
        <tr>
            <td>
                <table style="width: 1000px"> 
                    <tr>
                        <td style="width: 50px">
                            <a href="../" style="color: rgb(83, 107, 243)">Home</a>
                        </td>
                        <td style="width: 16px">
                            <p class = "nav">/</p>
                        </td>
                        <td style="width: 100px">
                            <a href="/appointment-history/{{appointment.slug}}" style="color: rgb(83, 107, 243)">Appointment</a>
                        </td>
                        <td style="width: 16px">
                            <p class = "nav">/</p>
                        </td>
                        <td style="width: 150px">
                           <a href="/appointments/{{appointment.slug}}" style="color: rgb(83, 107, 243)">Appointment Details</a>
                        </td>
                        <td style="width: 16px">
                            <p class = "nav">/</p>
                        </td>
                        <td>
                            <p class = "nav">Diagnosis</p>
                        </td>
                        
                    </tr>
                </table>
            </td>
            <td align="right" style="width: 100%">
                
                <table> 
                    <tr>
                        <td align="right" style="width: 400px; padding-right: 15px">
                        <span id="greeting" style="background-color: transparent; border: none; color: grey">Hello {{user}}</span>
                        </td>
                        <td text-align="center" style="width: 20px; padding-right: 10px">
                            <div class="dropdown">
                                <button class="dropdown"><img id="user_image" src="../public/img/user_grey.png" height="20px" href='/info-form'/></button>
                                <div class="dropdown-content">
                                    <a href='/info-form'>Profile</a>
                                    <a href='/appointment-history/{{userslug}}'>Appointment</a>
                                    <a href='/info-form'>Chat Room</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>          
</div>

<div class=" " style="height: 90px">
</div>

<div class="container" style="padding-left: 10%; padding-right: 10%">
    <div class="diagnosis-form" style="box-shadow: lightgrey 0px 1px; padding: 30px ">
        <div style="border-bottom:solid 1px lightgrey; width: 100%; align: centre; margin-bottom: 15px">
            <h5 for="add-comment-box" style="color:#00243b">Health Data</h5>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 mb-4">
                <label class="column-content">Height</label>
                <div class="form-inline">
                    <input type="text" class="form-control" style="text-align: right" placeholder="Height" required>
                    <medium id="passwordHelpInline" class="text-muted ml-2">
                        cm
                    </medium>
                </div>
            </div>
            <div class="form-group col-md-4 mb-4">
                <label class="column-content">Weight</label>
                <div class="form-inline">
                    <input type="text" class="form-control" style="text-align: right" placeholder="Weight" required>
                    <medium id="passwordHelpInline" class="text-muted ml-2">
                        cm
                    </medium>
                </div>
            </div>
            <div class="form-group col-md-2 mb-4">
                <label for="exampleFormControlSelect1">Blood Type</label>
                <select class="form-control" required>
                <option>A</option>
                <option>B</option>
                <option>AB</option>
                <option>O</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 mb-4">
                <label class="column-content">Right Eye Sight</label>
                <div class="form-inline">
                    <input type="text" class="form-control" placeholder="Left" required>
                </div>
            </div>
            <div class="form-group col-md-4 mb-4">
                <label class="column-content">Left Eye Sight</label>
                <div class="form-inline">
                    <input type="text" class="form-control" placeholder="Right" required>
                </div>
            </div>
            <div class="form-group col-md-4 mb-4">
                <label class="column-content">Blood Pressure</label>
                <div class="form-inline">
                    <input type="text" class="form-control col-md-3" placeholder="High" required>
                    <medium id="passwordHelpInline" class="text-muted ml-2 mr-2">
                        /
                    </medium>
                    <input type="text" class="form-control col-md-3" placeholder="Low" required>
                    <medium id="passwordHelpInline" class="text-muted ml-2">
                        mmHg
                    </medium>
                </div>
            </div>
        </div>
        <div style="border-bottom:solid 1px lightgrey; width: 100%; align: centre; margin-bottom: 15px">
            <h5 for="add-comment-box" style="color:#00243b">Diagnosis</h5>
        </div>
        <div class=" " style="height: 10px">
        </div>
        <!-- Include stylesheet -->
        <link href="https://cdn.quilljs.com/1.1.6/quill.snow.css" rel="stylesheet">
        <!-- Create the editor container -->
        <input type="hidden" name="content">
        <div id="editor" style="height:400px; background-color: white; overflow:auto"></div>
        <!-- Include the Quill library -->
        <script src="https://cdn.quilljs.com/1.1.6/quill.js"></script>

        <!-- Initialize Quill editor -->
        <script>
        var quill = new Quill('#editor', {
            theme: 'snow'
        });
        var form = document.querySelector('form');
        form.onsubmit = function() {
            // Populate hidden form on submit
            var content = document.querySelector('input[name=content]');
            content.value = JSON.stringify(quill.getContents());
            console.log("contentyeah", $(form).serialize())
        };
        </script>

        <div class=" " style="height: 25px">
        </div>
        <div style="border-bottom:solid 1px lightgrey; width: 100%; align: centre; margin-bottom: 15px">
            <h5 for="add-comment-box" style="color:#00243b">Prescription</h5>
        </div>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="panel panel-default">
  <div class="panel-heading">Dynamic Form Fields - Add & Remove Multiple fields</div>
  <div class="panel-heading">Education Experience</div>
  <div class="panel-body">
  
  <div id="education_fields">
          
        </div>
       <div class="col-sm-3 nopadding">
  <div class="form-group">
    <input type="text" class="form-control" id="Schoolname" name="Schoolname[]" value="" placeholder="School name">
  </div>
</div>
<div class="col-sm-3 nopadding">
  <div class="form-group">
    <input type="text" class="form-control" id="Major" name="Major[]" value="" placeholder="Major">
  </div>
</div>
<div class="col-sm-3 nopadding">
  <div class="form-group">
    <input type="text" class="form-control" id="Degree" name="Degree[]" value="" placeholder="Degree">
  </div>
</div>

<div class="col-sm-3 nopadding">
  <div class="form-group">
    <div class="input-group">
      <select class="form-control" id="educationDate" name="educationDate[]">
      
        <option value="">Date</option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
      </select>
      <div class="input-group-btn">
        <button class="btn btn-success" type="button"  onclick="education_fields();"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
  
  </div>
  <div class="panel-footer"><small>Press <span class="glyphicon glyphicon-plus gs"></span> to add another form field :)</small>, <small>Press <span class="glyphicon glyphicon-minus gs"></span> to remove form field :)</small></div>
  <div class="panel-footer"><small><em><a href="http://shafi.info/">More Info - Developer Shafi (Bangladesh)</a></em></em></small></div>
</div>
        <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
</div>                           

<div class="well"> 
</div>
</div>
</form>
