<nav id="nav">
  	<a href="/main-forum">View all Topics</a> |
  	<a href="/posts-new">Add a Topic</a>
</nav>
<div>
	<form method="GET" action="/main-forum">
		<label for="filter">Filter Topics By: </label>
		<select id="filter" name="filter">
	    	<option value="title">title</option>
	    	<option value="name">author</option>
		</select>
		<input type="text" name="option" value="" id="filter-option">
		<input type="submit" value="search" class="submit-button">
	</form>
</div>
<div>
	<div>Title   |   Author</div>
	{{#each posts}}
		<div><a href=/posts/{{slug}}>{{title}}</a><span> posted by {{name}}</span></div>
	{{/each}}
</div>
</div>