<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogIn</title>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body style="background-color: white">
    <header id="header">
        <a class="navbar-brand" href="#"><img src="../public/img/logo.png" height="30px"/></a>
		<a href="../" class="loginhome">Home</a>
    </header>
    {{#if error}}
	<p class="error">{{error}}</p>
	{{else}}
	<center>
		<div class="card" style="width: 50%; margin-top: 5%; border: none ">
  			<h5 class="card-header" style="background-color:white; color: #00243b">Log In</h5>
			<form id="loginForm" method="GET" action="/loginCheck">
  			<div class="card-body">
   				 <ul class="list-group list-group-flush">
					<li class="list-group-item" style="padding-bottom: 3% ">
						<div class="input-group mb-3" style="width: 50%; margin-left: -40%; margin-top: 2%">
							&nbsp
							&nbsp
							&nbsp
							&nbsp
  							<div class="input-group-prepend">
  						  		<span class="input-group-text" id="basic-addon1" style="background-color: transparent; border: none">Type:</span>
  							</div>
  							<select name="usertype" style="background-color: transparent; width: 120px">
								<option value="Doctor">Doctor</option>
								<option value="Patient">Patient</option>
							</select>
						</div> 
					</li>
					<li class="list-group-item">
						<div class="input-group mb-3" style="width: 50%; margin-left: -40%; margin-top: 2%">
							&nbsp
							&nbsp
							&nbsp
							&nbsp
  							<div class="input-group-prepend">
  						  		<span for="Email" class="input-group-text" id="basic-addon1" style="background-color: transparent; border: none">Email:</span>
  							</div>
  							<input type="text" name="Email" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
						</div>
					</li>
					<li class="list-group-item" >
						<div class="input-group mb-3" style="width: 50%; margin-left: -40%; margin-top: 2%">
  							<div class="input-group-prepend">
  						  		<span class="input-group-text" id="basic-addon1" style="background-color: transparent; border: none">Password:</span>
  							</div>
  							<input type="password" name="Password" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
						</div>
					</li>
					<li class="list-group-item">
						<button type="submit"  class="btn btn-primary" style="background-color: #00243b; margin-top: 2%">Confirm</button>
					</li>
				</ul>
 			 </div>
		     </form>
		</div>
		<div class=" " style="height: 40px">
    </div>

	<p> If you do not have an account, please <a href="\signup" >Sign Up</a></p>
	</center>
	<br/>
	<br/>
	<br/>
	<br/>
	{{/if}}

	<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://shanghai.nyu.edu/"> NYU Shanghai</a>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>