    <meta charset='utf-8' />

    <link href='../node_modules/@fullcalendar/core/main.css' rel='stylesheet' />
    <link href='../node_modules/@fullcalendar/daygrid/main.css' rel='stylesheet' />
    <link href='../node_modules/@fullcalendar/timegrid/main.css' rel='stylesheet' />

    <script src='../node_modules/@fullcalendar/core/main.js'></script>
    <script src='../node_modules/@fullcalendar/daygrid/main.js'></script>
    <script src='../node_modules/@fullcalendar/interaction/main.js'></script>
    <script src='../node_modules/@fullcalendar/timegrid/main.js'></script>
    <script src='../node_modules/jquery/dist/jquery.js'></script>
    <script src='../node_modules/moment/moment.js'></script>
    <script src='myAppointment.js'></script>


    <script>
    </script>
  <body>

    <div id='calendar'></div>
    <button id = 'submitAppointment' display='none' type="button">Confirm Appointment</button>
  </body>