<div style="height: 50px"></div>
<div id="loginnavbar" style="width: 100%;box-shadow: lightgrey 0px 1px; position:fixed; height: 60px">
    <table id="table">
        <tr>
            <td>
                <table style="width: 300px"> 
                    <tr>
                        <td style="width: 50px">
                            <a href="../" style="color: rgb(83, 107, 243)">Home</a>
                        </td>
                        <td style="width: 16px">
                            <p class = "nav">/</p>
                        </td>
                        <td>
                            <p class = "nav">Personal Information</p>
                        </td>
                        
                    </tr>
                </table>
            </td>
            <td align="right" style="width: 100%">
                
                <table> 
                    <tr>
                        <td align="right" style="width: 400px; padding-right: 15px">
                        <span id="greeting" style="background-color: transparent; border: none; color: grey">Hello {{user}}</span>
                        </td>
                        <td text-align="center" style="width: 20px">
                        <a href='/info-form/{{userslug}}'><img id="user_image" src="../public/img/user_grey.png" height="20px"/></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>          
</div>

<div class=" " style="height: 90px">
</div>

<div class="container" style="padding-left: 10%; padding-right: 10%">
    <div class="info-form" style="background-color: white; box-shadow: lightgrey 0px 1px; padding: 30px ">
        <div style="border-bottom:solid 1px lightgrey; width: 100%; align: centre; margin-bottom: 15px">
            <h5 for="add-comment-box" style="color:#00243b">Personal Information</h5>
        </div>
        <form action="GET" class="justify-content-center">
            <div class="form-row">
                <div class="form-group col-md-5 mb-4">
                    <label class="column-content">Name</label>
                    <input type="text" class="form-control" id="validationTooltip01" placeholder="{{user}}" required>
                </div>
                <div class="form-group col-md-4 mb-4">
                    <label class="column-content">Date of Birth</label>
                    <input type="date" class="form-control" id="exampleInputDOB1" placeholder="Date of Birth">
                </div>
                <div class="form-group col-md-3 mb-4">
                    <label for="exampleFormControlSelect1">Gender</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                    <option>Male</option>
                    <option>Female</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12 mb-4">
                    <label class="column-content">Address</label>
                    <input type="text" class="form-control" id="validationTooltip01" placeholder="{{my.address}}" required>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit form</button>
        </form>
    </div>
</div>              

<div class="well"> 
</div>
</div>
</form>
