<body>

<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
<script>
$(document).ready(function() {
  $("#register").validate({
	    rules: {
	      Name: "required",
	      Password: {
	        required: true,
	        minlength: 5
	      },
	      Email:{
	      	required: true,
	      },
	      Phone: "required",
	      Date_of_Birth: "required",

	    },
	    messages: {
	      username: {
	        required: "Please Enter the username",
	      },
	      password: {
	        required: "Please Enter the password",
	        minlength: "Password should be more than 6 characters"
	      },
	      age: {
	        required: "Please Enter your age",
	      },
	    }
	});
});
</script>
<style>
.error{
	color:red;
	font-size: 1em;
}
</style>



<div class="box">

<form id= "register" method = "POST" action="/register">
User Type: <select name="usertype">
	<option value="Doctor">Doctor</option>
	<option value="Patient">Patient</option>
</select>
<label for="Name">Name </label>
<input type="text" name=Name><br>
<label for="Email">Email </label>
<input type="text" name=Email><br>
Gender: <select name="Gender">
	<option value="male">Male</option>
	<option value="female">Female</option>
</select>
<label for="DateOfBirth">Data of Birth </label>
<input type="date" name=DateOfBirth><br>

<label for="Phone">Phone </label>
<input type="text" name=Phone><br>
<label for="Address">Address </label>
<input type="text" name=Address><br>

<label for="Password">Password</label>
<input type="text" name=Password><br>
<br>
<button type="submit" class="btn btn-primary">Create Account</button>

<h3><p class="error">{{error}}</p><h3>
<div class="box">
<a href=/login>Back</a>
</body>