<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RegisterPatient</title>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
	<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
		<a class="navbar-brand" href="#"><img src="../public/img/logo.jpeg" height="65px"/></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
			</nav>
    </div>
<body style="background-color: #F0F0F0">
	{{#if error}}
	<p class="error">{{error}}</p>
	{{else}}
	<center>
		<div class="card" style="width: 60%; margin-top: 5%">
  			<h5 class="card-header" style="background-color:#02368d; color: #FEFCE3">Doctor Register</h5>
			<form id= "register" method = "POST" action="/registerDoctor">
  			<div class="card-body">
   				 <ul class="list-group list-group-flush">
					<li class="list-group-item" style="padding-bottom: 3%">
						<div class="input-group mb-3" style="width: 50%; margin-left: -40%; margin-top: 2%">
  							<div class="input-group-prepend">
  						  		<span for="Name" class="input-group-text" id="basic-addon1" style="background-color: transparent; border: none">Name:</span>
  							</div>
  							<input type="text" name="Name" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
						</div>
					</li>
					<li class="list-group-item">
						<div class="input-group mb-3" style="width: 50%; margin-left: -40%; margin-top: 2%">
  							<div class="input-group-prepend">
  						  		<span for="Email" class="input-group-text" id="basic-addon1" style="background-color: transparent; border: none">Email:</span>
  							</div>
  							<input type="text" name="Email" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
						</div>
					</li>
					<li class="list-group-item">
						<div class="input-group mb-3" style="width: 50%; margin-left: -40%; margin-top: 2%">
					
  							<div class="input-group-prepend">
  						  		<span class="input-group-text" id="basic-addon1" style="background-color: transparent; border: none">Gender:</span>
  							</div>
  							<select name="Gender" style="background-color: transparent; width: 120px">
								<option value="Select">Select</option>
								<option value="female">Female</option>
								<option value="male">Male</option>
							</select>
						</div> 
					</li>
					<li class="list-group-item">
						<div class="input-group mb-3" style="width: 50%; margin-left: -40%; margin-top: 2%">
							
  							<div class="input-group-prepend">
  						  		<span for="Password" class="input-group-text" id="basic-addon1" style="background-color: transparent; border: none">Password:</span>
  							</div>
  							<input type="text" name="Password" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
						</div>
					</li>
					<li class="list-group-item">
						<div class="input-group mb-3" style="width: 50%; margin-left: -40%; margin-top: 2%">
						
  							<div class="input-group-prepend">
  						  		<span for="Phone" class="input-group-text" id="basic-addon1" style="background-color: transparent; border: none">Phone:</span>
  							</div>
  							<input type="text" name="Phone" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
						</div>
					</li>
					<li class="list-group-item">
						<div class="input-group mb-3" style="width: 50%; margin-left: -40%; margin-top: 2%">
						
  							<div class="input-group-prepend">
  						  		<span for="DateOfBirth" class="input-group-text" id="basic-addon1" style="background-color: transparent; border: none">Date of Birth:</span>
  							</div>
  							<input type="date" name="DateOfBirth" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
						</div>
					</li>
					<li class="list-group-item">
						<div class="input-group mb-3" style="width: 50%; margin-left: -40%; margin-top: 2%">
						
  							<div class="input-group-prepend">
  						  		<span for="Address" class="input-group-text" id="basic-addon1" style="background-color: transparent; border: none">Address:</span>
  							</div>
  							<input type="text" name="Address" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
						</div>
					</li>
					<li class="list-group-item">
						<div class="input-group mb-3" style="width: 50%; margin-left: -40%; margin-top: 2%">
  							<div class="input-group-prepend">
  						  		<span for="Hospital" class="input-group-text" id="basic-addon1" style="background-color: transparent; border: none">Hospital:</span>
  							</div>
  							<input type="text" name="Hospital" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
						</div>
					</li>
					<li class="list-group-item">
						<div class="input-group mb-3" style="width: 50%; margin-left: -40%; margin-top: 2%">
  							<div class="input-group-prepend">
  						  		<span for="Department" class="input-group-text" id="basic-addon1" style="background-color: transparent; border: none">Department:</span>
  							</div>
  							<input type="text" name="Department" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
						</div>
					</li>
					<li class="list-group-item">
						<div class="input-group mb-3" style="width: 50%; margin-left: -40%; margin-top: 2%">
  							<div class="input-group-prepend">
  						  		<span for="Position" class="input-group-text" id="basic-addon1" style="background-color: transparent; border: none">Position:</span>
  							</div>
  							<input type="text" name="Position" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
						</div>
					</li>
					<li class="list-group-item">
						<div class="input-group mb-3" style="width: 50%; margin-left: -40%">
  							<div class="input-group-prepend">
  						  		<span for="Resume" class="input-group-text" id="basic-addon1" style="background-color: transparent; border: none">Resume:</span>
  							</div>
  							<textarea type="text" name="Resume" class="form-control" aria-label="Username" aria-describedby="basic-addon1"></textarea>
						</div>
					</li>
					<li class="list-group-item">
						<button type="submit" class="btn btn-primary" style="background-color: #02368d; margin-top: 2%">Create Account</button>
					</li>
				</ul>
 			 </div>
		     </form>
		</div>
	</center>
	<br/>
	<br/>
	<br/>
	<br/>
	{{/if}}

<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> NYU Shanghai</a>
    </div>
</footer>

<script>
$(document).ready(function() {
  $("#register").validate({
	    rules: {
	      Name: "required",
	      Password: {
	        required: true,
	        minlength: 5
	      },
	      Email:{
	      	required: true,
	      },
	      Phone: "required",
	      Date_of_Birth: "required",
	      Resume: "required",
	      Department: "required",
	      Position: "required",
	      Hospital: "required"
	    },
	    messages: {
	      Name: {
	        required: "Required Information",
	      },
	      Password: {
	        required: "Please Enter the password",
	        minlength: "Password should be more than 6 characters"
	      },
	      Email: {
	        required: "Required Information",
	      },
	      Phone: {
	        required: "Required Information",
	      },
	      DateOfBirth: {
	        required: "Required Information",
	      },
	      Position: {
	        required: "Required Information",
	      },
	      Hospital: {
	        required: "Required Information",
	      },
	      Department: {
	        required: "Required Information",
	      },
	      Resume: {
	        required: "Required Information",
	      }
	    }
	});
});
</script>
<style>
.error{
	color:red;
	font-size: 1em;
}
</style>
</body>
</html>
